.registration{
    display: flex;
    flex-flow: row wrap;
    grid-area: content;
    border: solid 1px rgba(0,0,0,0.33);
    height: 150px;
    width: 300px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    background-color: white;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
}
.registration button{
    align-self: center;
    height: 30px;
    width: 170px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.33);
}
.registration button:hover{
    filter: brightness(90%);
}
.registration button:active{
    filter: brightness(120%);
}
